@use '../../../styles/main' as *;

.nav {
    @include shape-container();
    @include flex-center(row);
    justify-content: space-between;
    height: fit-content;
    width: 100%;
    background-color: $palette-3;
    margin: $space-sm 0 $space-sm 0;
}

.diaBtn {
    @include flex-center(row);
    cursor: pointer;
    font-size: $text-size-m;
    background-color: $palette-5;
    font-weight: bold;
    gap: $space-sm;
    border: 1px solid transparent;
    border-radius: $radius-sm;
    padding: $padding-sm;
    transition: transform 0.3s ease;

    &:hover {
        border: 1px solid $palette-1;
        transform: scale(1.08);
    }
}


.navIcon {
    @include icon-size(30, 30);
}