$palette-1: #0d1a26;
$palette-2: #1a3a5c;
$palette-3: #3d6b8a;
$palette-4: #8ab4c4;
$palette-5: #c9dce8;

$living-c: #185FA5;
$groceries-c: #3B6D11;
$activities-c: #854F0B;
$transport-c: #534AB7;
$health-c: #A32D2D;
$insurance-c: #5F5E5A;
$saving-c: #993C1D;
$education-c: #993556;
$other-c: #444441;
$gifts-c: #72243E;
$vacation-c: #712B13;
$shopping-c: #3C3489;
$drugstore-c: #791F1F;
$donations-c: #633806;
$rental-c: #085041;
$interest-and-dividends-c: #04342C;


$writing-white: white;
$writing-black: black;

$success: #5f9e7a;
$failed: #c1584f;


$container-max: 1440px;
$margin-wrapper: 0 auto;

$space-xs: 0.25rem;
$space-sm: 0.5rem;
$space-md: 1rem;
$space-lg: 1.5rem;
$space-xl: 2.5rem;
$space-2xl: 4rem;

$font-text: 'Source Sans 3';
$font-number: 'Roboto Mono';