@use '../../../../styles/main' as *;

.listContainer {
    @include flex-center();
}

.listHeader {
    margin: $space-sm;
    text-decoration: 3px underline;
    text-decoration-color: $palette-5;
}


.list {
    @include flex-center();
    padding: 0;
    gap: $space-sm;
}


.listItem {
    list-style: none;
}


.listButton {
    @include no-style-btn;
    @include hover-underline($palette-5);
    font: inherit;
    color: inherit;


    &:focus-visible {
        outline: $outline-sm solid $palette-1;
        outline-offset: $space-xs;
    }
}


.active {
    background-size: 100% $outline-sm;
    font-weight: bold;
}