@use '../../../../styles/main' as *;

.filterBar {
  @include flex-center(row);
  @include shape-container();
  justify-content: start;
  gap: $space-md;
  background-color: white;
  padding: $padding-md;
 
  border: 1px solid $palette-1;
 
}

.filterLabel {
  font-size: $text-size-m;
  font-weight: bold;
  color: black;
  white-space: nowrap;
}

.filterSelect {
  max-width: 320px;
  @include shape-container();
  padding: 0.5rem 0.85rem;
  font-size: $text-size-m;
  border: 1px solid $palette-3;
  background-color: transparent;
  outline: none;
  cursor: pointer;
}