@use '../../../../styles/main' as *;



.header {
    @include flex-center(row);
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 1rem;
    background-color: $palette-1;
    padding: 1.25rem 1.5rem;
    border-radius: $radius-m;
}

.heading {
    min-width: 150px;
}

.title {
    margin: 0;
    font-size: $text-size-bg;
    font-weight: 700;
    color: $writing-white;
}

.subtitle {
    margin: 0.25rem 0 0 0;
    font-size: $text-size-m;
    color: $writing-white;
}

.totalBadge {
    @include flex-center();
    width: fit-content;
    min-width: 150px;
    align-items: flex-start;
    padding: 0.5rem 1rem;
    border-radius: $radius-m;
}

.totalLabel,
.totalLabelIncome,
.totalLabelExpense {
    font-size: $text-size-m;
    letter-spacing: 0.5px;
    color: $writing-white;
    font-weight: 600;
}

.totalAmount,
.totalAmountIncome,
.totalAmountExpense {
    font-size: $text-size-l;
    font-weight: 400;
    font-family: $font-number;
}

// dynamisch: Gesamt wechselt je nach Vorzeichen
.negativeContainer {
    outline: 2px solid $failed-border;
    background: linear-gradient(135deg, #802e27 0%, #581e19 100%);
}

.positiveContainer {
    outline: 2px solid $success-border;
    background: linear-gradient(135deg, #2d563e 0%, #1e3e2c 100%);
}

.totalAmount.positive {
    color: $success-text;
}

.totalAmount.negative {
    color: $failed-text;
}

// statisch: Einnahmen immer grün, Ausgaben immer rot
.incomeContainer {
    outline: 2px solid $success-border;
    background: linear-gradient(135deg, #2d563e 0%, #1e3e2c 100%);
}

.totalAmountIncome {
    color: $success-text;
}

.expenseContainer {
    outline: 2px solid $failed-border;
    background: linear-gradient(135deg, #802e27 0%, #581e19 100%);
}

.totalAmountExpense {
    color: $failed-text;
}