@use '../styles/main' as *;

.container {
    @include flex-center(row);
}

.mainContainer{
    display: flex;
    flex-direction: column;
    flex: 1;
    min-height: 0;
    height: 100dvh;
}

.mainView {
    width: 100%;
    @include flex-center(row);
    align-items: start;
    flex: 1;
    min-height: 0;
}