@use '../../../styles/main' as *;

.aside {
    @include align-at-side(flex-start);
    @include flex-center();
    background-color: $palette-4;
    min-width: fit-content;
    padding: 20px;
    height: 100vh;
    justify-content: start;

}