@use '../../../../styles/main' as *;

.groupCard {
  background-color: white;
  padding: $space-sm;
}

.groupHeader {
  @include flex-center(row);
  justify-content: space-between;
  padding: $space-md;
  border-left: 4px solid ;
  border-radius: $radius-sm;
}

.groupTitleInfo {
  @include flex-center(row);
  gap: $space-md;
}

.groupIcon {
  @include flex-center(row);
  @include icon-size(30,30);
  border-radius: 50%;
  font-size: $text-size-l;
}

.groupName {
  margin: 0;
  font-size: $text-size-m;
  font-weight: bold;
  color: $writing-black;
}

.groupCount {
  font-size: $text-size-m;
  color: $writing-muted;
}

.groupTotal {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.groupTotalLabel {
  font-size: 0.75rem;
  color: grey;
}

.groupTotalAmount {
  font-size: 1.1rem;
  font-weight: 700;
  color: black;
}